--extra-index-url https://rospypi.github.io/simple/

transforms3d
tensorboard
jupyterlab
pyarrow
pyyaml
pydantic
adlfs
navpy
typeguard
pytest
cvxopt
tk
rosbags
rosbags-dataframe
rosbags-image
pycocotools
ultralytics
wandb
cryptography
pyopenssl
torch
torchvision
rasterio
tiledb
tiledb-ml
rosdep
colcon-common-extensions
lark
empy==3.3.4